

VITE_SUPABASE_URL=https://siuvwxzfmljirfyknsur.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpdXZ3eHpmbWxqaXJmeWtuc3VyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NDcxOTIsImV4cCI6MjA5MDAyMzE5Mn0.OzMBN4iQKJ59m5RjEA1sz0aFvX_7nrLUvDiivp6GXu4
