

VITE_SUPABASE_URL=https://zxdtmbbowcvndprbdcyc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp4ZHRtYmJvd2N2bmRwcmJkY3ljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0MDYxMzYsImV4cCI6MjA4OTk4MjEzNn0.CtDILuzbDu1MdL2bcfZl5TjTHTnCH8gAyqeaRj5ZrBs
